@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@theme{
  --font-number: "Space Grotesk", serif;
  --font-header: "Plus Jakarta Sans", serif;
  --font-primary: "DIN Alternate Bold", serif;
  --font-secondary: "MrEavesXLModOT-Reg", serif;
  --font-project: "Lexend", serif;
  --color-primary-btn-color: #FFBB12;
  --color-primary:#ECECEC;
}
@font-face{
  font-family: "DIN Alternate Bold";
  font-size: normal;
  font-weight:200 700;
  src:url('src/fonts/DIN Alternate Bold.otf') format('opentype');
}
@font-face{
  font-family: "MrEavesXLModOT-Reg";
  font-size: normal;
  src:url('src/fonts/MrEavesXLModOT-Reg.ttf') format('truetype');
}

button{
  cursor: pointer;
}
.clip-triangle-right {
  clip-path: polygon(100% -100%, 100% 100%, 0 100%);
}
